   body
   { font-family: 'Segoe UI';
         font-weight:lighter;
}
 header{
    margin-top:0px;
}
header, footer{
    color:white;
    background-color:#cf7777;
    padding:5px;
    text-align:center;
    position:static;
}
footer{
    margin-bottom:0px;
}
nav ul li{
    display:inline;
    padding:5px;
}
label{
    width:170px;
}
 li a{
    display:block;
    color:white;
    padding:8px 10px;
    text-decoration:none;
}
 li a:hover{
     background-color:white;
 }
 li a.active{
     background-color:white;
     color:#cf7777;
 }
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:auto;
    position:fixed;
    width: 25%;
     height:100%;
     color:white;
    background-color: #cf7777;
    position: fixed;
   
}

